{{> head}}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>William Zamora</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iure dolorum officiis corporis, repellendus saepe nostrum minima quae aliquam atque fugiat perspiciatis voluptates! Illo alias eum facilis facere repudiandae molestias!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/will.jpg" alt="" class="img-thumbnail rounded">
    </div>
</div>


{{> footer }}